header{
    /*
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
*/
    padding: 24px;
    padding-left: 0px;

    font-size: var(--font-size-h6);
    font-family: var(--font-secondary);

    .wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;    
    }

    ul{
        list-style: none;
        display: flex;
        gap: 45px;
    }

}

.header_nav{
    font-weight: 500;
    color: var(--color-typo-tresPale);

    a:hover{
        font-weight: 700;
        color: var(--color-enutre-foncee);
    }
}

.header_options{
    font-weight: 700;
    color: var(--color-neutre-foncee);

    ul{
        display: flex;
        align-items: center;
    }

    .button{
        padding: 5px; 
        padding-left: 20px;  
        padding-right: 20px;  
        border-radius: 5px;
        box-shadow: none;
        background-color: var(--color-grey);
        font-weight:100;
    }

    .connection{
        font-weight: 100;
    }

}

.search-bar {
    background-color: var(--color-white);
    border-radius: 4px;
    margin-left: 30px;

    .search-input {
        //border: none;
        padding: 10px;
        background-color: transparent;
        color: var(--color-black);
        width: 300px; // Adjust the width as needed
        font-size: 16px;
        padding: 12px 20px 12px 40px;

        //image
        background-image: url("../assets/icons/magnifying-glass-solid.svg");
        background-repeat: no-repeat;
        background-position: 5px;
        background-size: 7%;
        

    }
}