.hero{
    .wrapper{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        'h2 h2'
        'content content1';
    }

    p{
        font-weight: 400;
        color: var(--Color-type-pale);
        padding: 0px;

    }

    font-style: var(-font-secondary);
    
}

.hero_media{
    grid-area: content;

}

.hero_content{
    padding-left: 24px;
    font-style: var(--font-secondary);
    grid-area: content1;
    .prog{
        width: 200px;
    }
    
}

.info{
   font-size: var(--font-size-h5);
   padding: 0px;
}

.number{
    font-size: var(--font-size-h3);
    padding: 0px;

 }

h2{
    grid-area: h2;
    font-weight: 500;
    letter-spacing: -2px;
    line-height: 72px;
}

.boutons{
    display: flex;
    gap: 56px;
    margin: 5px;
}


.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    'contribue contribue'
    'btn2 btn3';
}



.contribue{
    margin-top: 0px;
    font-size: var(--font-size-h4);
    background-color: var(--color-black);
    padding-top: 15px;
    padding-bottom: 15px;
    grid-area: contribue;
    margin-bottom: 10px;
    font-size: var(--font-size-h4);
    color: var(--color-white);

}

.secondA{
    background-color: var(--color-gris);

    color: var(--color-white);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
    grid-area: btn2;
    font-size: var(--font-size-h4);
    margin-top: 10px;

}
.secondB{
    background-color: var(--color-gris);
    color: var(--color-white);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    grid-area: btn3;
    font-size: var(--font-size-h4);
    margin-top: 10px;


}

.button-play span{
    background-image: linear-gradient(#FFC700, #FF782D);
    border-radius: 100%;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding: 25px;
}
