.testimonies{
    .wrapper{
        display: grid;
        grid-template-columns:  repeat(2, 1fr);;
        grid-template-rows: auto;
    }


    margin-bottom: 6%;

    font-style: var(-font-secondary);
}

.card{
    border: 1px black;
    outline-style: solid;
    margin: 10px;
    margin-bottom: 20px;


    img{
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 60px;
        height: 240px;
        margin-bottom: 15px;
    }

    .description{
        font-size: var(--font-size-word);
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        margin-left: 15%;
        margin-right: 18%;
    }

    .cla{
        .Dtitle{
            font-size:  var(--font-size-word);
            display: flex;
            justify-content: center;
            padding-bottom: 0px;
        }
    }

    .desc{
        display: flex;
        justify-content: center;
        padding-top: 0px;
        padding-left: 15%;
        padding-right: 18%;
    }


    .bold{
        font-size: var(--font-size-word);
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        margin-left: 15%;
        margin-right: 18%;
        white-space: initial;
    }


    
    .contribue{
        font-size: var(--font-size-h4);
        background-color: var(--color-black);
        padding-top: 15px;
        padding-bottom: 15px;
        margin-left:100px;
        margin-right: 100px;
        margin-bottom: 20px;
        font-size: var(--font-size-h4);
        color: var(--color-white);
        display: flex;
        justify-content: center;
    }
}