.why{
    
    .wrapperBlack{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        'h2 h2'
        'blackC matteC';
    }

    .wrapperWhite{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
        grid-template-areas: 
        'h2 h2'
        'blackC matteC';
    }


    p{
        font-weight: 400;
        color: var(--Color-type-pale);
        padding: 0px;

    }


    .goRight{
        text-align: right;
    }


    h2{
        grid-area: h2;
    }

    .blackC{
        grid-area: blackC;
    }
    
    .platinumC{
        padding-top: 35%;
        margin: 24px;
        font-size: var(--font-size-h4);
    }

    .matteC{
        padding-top: 35%;
        margin: 24px;
        font-size: var(--font-size-h4);
    }

}

