.why{
    
    .wrapper1{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        'h2 h2'
        'blackC matteC';
    }

    p{
        font-weight: 400;
        color: var(--Color-type-pale);
        padding: 0px;

    }


    h2{
        grid-area: h2;
    }

    .blackC{
        grid-area: blackC;
    }

    .matteC{
        grid-area: matteC;
    }

}

